/* src/app/globals.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f3ee; /* Cream background ng LibraSync */
  color: #1a2744; /* Navy blue text */
  font-family: 'DM Sans', sans-serif;
  overflow-x: hidden;
}